body {
	background-color: #3083FF;
	color: #0053CF;
}

.hljs {
	background-color: #C5DDFF;
}

h1 {
	color: #3083FF;
}

#content {
	background-color: #FAF5FF;
}

.navlink {
	color: #FAF5FF;
}

#leafletContainer {
	height: 80%;
}

#leafletContainerGrid {
	height: 80%;
}

#leafletContainerProgressive {
	height: 80%;
}

#viewerDiv {
	width: 100%;
	height: 80%;
	min-height: 300px;
}