body {
	background-color: red;
	color: #550000;
}

.hljs {
	background-color: #ffee88;
}

h1 {
	color: #550000;
}

#content {
	background-color: #ffcc66;
}

.navlink {
	color: #ffcc66;
}

#leafletContainer {
	height: 80%;
}

#txtUrl {
	width: 80%;
}