body {
    background-color: red;
    color: #550000;
}

.hljs {
    background-color: #ffee88;
}

h1 {
    color: #550000;
}

#content {
    background-color: #ffcc66;
}

.navlink {
    color: #ffcc66;
}

.leafletViewerCanvas {
    height: 80%;
}

.urlTextBox {
    width: 70%;
}